<%- layout('layouts/boilerplate') %>
<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <img src="/images/login_img.jpg" alt="" class="card-img-top" height="250px">
                    <h3 class="card-title">Login</h3>
                    <form action="/login" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" autofocus required />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <button class="btn btn-success w-100">Login</button>
                    </form>
                </div>
            </div>             
        </div>
    </div>
</div>

